<div class="my-3" style="position: relative;">
  <p class="my-0  bbva-text-color-secondary " style="text-align: center;font-family: BentonSansBBVA-Light,Helvetica,Arial,sans-serif;font-size: 2vh">¡Tenemos lo que buscas!</p>
</div>
<div class="row" style="font-family: BentonSansBBVA-Light,Helvetica,Arial,sans-serif;">
  <div class="col-4 my-2">
    <mat-card>Tarjeta adicional</mat-card>
  </div>
  <div class="col-4 my-2">
    <mat-card>Adelanto de sueldo</mat-card>
  </div>
  <div class="col-4 my-2">
    <mat-card>Préstamo al toque</mat-card>
  </div>
  <div class="col-4 my-2">
    <mat-card>Cuentas de ahorro</mat-card>
  </div>
  <div class="col-4 my-2">
    <mat-card>Fondos mutuos</mat-card>
  </div>
  <div class="col-4 my-2">
    <mat-card>Tarjeta de crédito</mat-card>
  </div>
  <div class="col-4 my-2">
    <mat-card>¿Necesitas dinero en efectivo?</mat-card>
  </div>
  <div class="col-4 my-2">
    <mat-card>¿Buscas cuenta para ahorrar?</mat-card>
  </div>
  <div class="col-4 my-2">
    <mat-card>BBVA T-CAMBIO</mat-card>
  </div>
  <div class="col-4 my-2">
    <mat-card>Depósito a plazo</mat-card>
  </div>
  <div class="col-4 my-2">
    <mat-card>Protege a tu familia con el seguro de vida renta</mat-card>
  </div>
  <div class="col-4 my-2">
    <mat-card>Productos Digitales</mat-card>
  </div>
</div>
